.myCard{
    border:1px solid gray;
    padding:1vw;
    margin-top:10px;
    box-sizing: border-box;
}

footer{
    background:yellow;
    width:100%;
    padding-top:1vh;
}

.row .myCard:first-of-type{
    border-right:0;
}

.row .myCard:last-of-type{
    border-left:0;
}

.myCard12{
    background:white;
    padding:1vw;
    margin-top:10px;
    box-sizing: border-box;
    overflow: hidden;
}